principal{
  background-color: black;
  color: white;
  padding: 30px;
}

h1 {
  text-align: center;
  color: white;
      background: linear-gradient(10deg, purple, blue, red, purple, blue, red);
      border: indigo solid 3px;
  border-radius: 10px;
  }
}

p {
 text-align: center; 

}

#missao {
  font-size: 20px;
}

em b {
color: purple;

}
beneficios{
 background-color: gray:
  padding: 20px;
  
}





h2{
  text-align: center;
}

ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}


item{
  font-style: italic;
}

imagem-beneficios{
  width: 50%;
  
  
}