.titulo-principal{
  padding-left: 20px;
}

.principal{
  background-color: lightblue;
  padding: 30px;
  
}

.banner{
  width: 100%;
}

h1 {
  
  color: white;
      background: linear-gradient(10deg, purple, blue, red, purple, blue, red);
      border: indigo solid 3px;
  border-radius: 10px;
  }
}

p {
 text-align: center; 

}

.texto-centralizado{
  text-align: center;
}

#missao {
  font-size: 20px;
}

em b {
color: purple;

}

.beneficios{
 background-color: gray;
  padding: 20px;
  
}

ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.item{
  font-style: italic;
}

.imagem-beneficios{
  width: 50%;
  
  
}