.tituloprinc{
  padding-left: 20px;
  text-align: center;
  color: black;
  background: linear-gradient(10deg, white, blue, red, white, blue, red,  white, blue, red);
  border: black double 3px;
  border-radius: 30px;
}

.principal {
  background-color: #CCCCCC; 
  padding: 30px;
}

.banner {
  width: 100%;
}

.textocent {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em b {
  color: blue;
}

.beneficios {
  background-color: #FFFFFF;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.item {
  font-style: italic;
}

.imagem-beneficio {
  width: 50%;
}